[2017-12-29 13:26] ajsantander opened #4 "LEVEL: storage vs memory"

[2017-12-29 13:27] ajsantander opened #5 "FEATURE: add discus"

[2017-12-29 13:28] ajsantander opened #6 "update to solidity 0.4.18"

[2017-12-29 13:28] ajsantander opened #7 "update links in contracts to use npm zeppelin-solidity, not hard copies"

[2017-12-29 13:29] ajsantander opened #8 "Checksum addresses when printing to console"
https://github.com/ethereumjs/ethereumjs-util/blob/master/docs/index.md#tochecksumaddress

non-checksummed addresses are a bit annoying to work with, because tools complain about it. for example remix

[2017-12-29 13:31] ajsantander opened #9 "Review message for "metamaskKnownIssue""
I can see that the player is being asked to restart chrome in syncPlayerProgress... maybe the can choose to ignore syncing in such a case, instead of throwing such a harsh error?

[2017-12-29 13:32] ajsantander opened #10 "highlight contracts as solidity code, not js code"

[2017-12-29 13:33] ajsantander opened #11 "transactions sent via web3.eth.sendTransaction are not shown as mined"
When sending a transaction via `web3.eth.sendTransaction`, without data, only the "Sent transaction" console log is shown, not the "Mined transaction"

[2017-12-29 13:34] ajsantander opened #12 "prevent double button actions"
eg. submitting a level twice or requesting an instance twice by hitting the buttons consecutively

[2017-12-29 13:35] ajsantander opened #13 "LEVEL: parity 2"

[2017-12-29 13:35] ajsantander opened #14 "LEVEL: iterator running short"

[2017-12-29 13:36] ajsantander commented on #14
[code]

[2017-12-29 13:37] ajsantander opened #15 "LEVEL: method param has conflicts with class prop"

[2017-12-29 13:37] ajsantander opened #16 "LEVEL: fixing a loop that exceeds gas limit"

[2017-12-29 13:37] ajsantander opened #17 "LEVEL: poor random number generator"

[2017-12-29 13:38] ajsantander opened #18 "LEVEL: mana bug"
https://github.com/decentraland/mana/issues/18

[2017-12-29 13:38] ajsantander opened #19 "LEVEL: array overflow"
https://www.youtube.com/watch?v=gUqHgFuSsqg

[2017-12-29 13:38] ajsantander opened #20 "LEVEL: 'private"

[2017-12-29 13:49] ajsantander opened #21 "LEVEL: integer division leak"

[2017-12-29 13:50] ajsantander opened #22 "LEVEL: underhanded 2017"
https://github.com/Arachnid/uscc/tree/master/submissions-2017/martinswende

[2017-12-29 13:51] ajsantander opened #23 "LEVEL: exploit division by 0 in solidity < 0.4"

[2018-01-05 17:05] valer-cara opened #24 "King level broken? Passed it without any attempt of ethernaut reclaiming kingship"
I've sent an 1.01 Ether transaction to the King contract, then submitted the level and it passed.

I think it might be broken - expected the submission to fail due to:

The 1.01 Eth tx: https://ropsten.etherscan.io/tx/0x7b1eda07bfcb6f2e0c02e6d79732a35dd7c39bd689dd371ba0f823b3f477d6d9

PS: great game! feels like a solidity & eth security crash course <3

[2018-02-11 06:02] syncikin commented on #17
Perhaps PR [https://github.com/OpenZeppelin/ethernaut/pull/28](https://github.com/OpenZeppelin/ethernaut/pull/28) will do?

[2018-03-01 11:44] pudelkoM opened #31 "License?"
Under which license is ethernaut published? Is it the same as for zeppelin-solidity?

This is relevant if you'd like to run your own public version.

[2018-03-10 11:09] roschler commented on #31
Bumping this thread since it's an important issue.

[2018-03-18 14:45] ajsantander opened #32 "writing development deploy addresses to gamedata.json causes merge conflicts"
When a level is deployed during development, a level's "deployment_development" member is written to. "deployment_ropsten" is supposed to be unique but "deployment_development" is not, and is currently causing merge conflicts.

Consider extracting development deployment addresses to a separate file that can be gitignored.

[2018-03-19 02:25] kylriley opened #33 "Add ability to pass level with revert"
It'd be helpful in some cases to be able to pass a level by the contract throwing, e.g. a level that requires you to exceed the block gas limit

[2018-03-22 02:36] ajsantander opened #39 "Travis CI for tests"

[2018-03-23 13:06] ajsantander commented on #7
This seems old. There are no hard copies of zeppelin contracts.

[2018-03-23 13:06] #7 closed

[2018-03-23 13:14] ajsantander opened #40 "Separate level tests into files"

[2018-03-23 13:45] ajsantander commented on #6
Updated one contract to 0.4.18 (was 0.4.0).
Reviewed uses of constant vs view/pure.

[2018-03-23 13:45] #6 closed

[2018-03-23 15:18] ajsantander commented on #40
Done in eed7c08153b78b6273b1abc6e098e48eed3e1344

[2018-03-23 15:18] #40 closed

[2018-03-23 16:02] ajsantander commented on #39
Implemented in 1040bba45b68f6e6f01496e92de35402120d3e7c

[2018-03-23 16:02] #39 closed

[2018-03-25 22:52] syncikin commented on #32
Another problem with the current behaviour is that when it ships it defaults to your `deployed_ropsten` address, so when someone else tries to deploy on ropsten by calling `registerLevel()` they won't be the owner of the contract and the tx will fail (spent a couple hours figuring out why nothing was working on ropsten!).

Having a separate gitignored file that defaults to `x` and forces a fresh d

[2018-03-30 09:18] Raz0r commented on #31
+1

[2018-03-31 01:27] ajsantander commented on #32
Yup, my plan is to separate deployment addresses from the gamedata file and have deployment files for each network. The development network can be gitignored. I'll take this one!

[2018-03-31 15:56] ajsantander commented on #31
Implementing GPL here: https://github.com/OpenZeppelin/ethernaut/pull/43

[2018-04-06 13:43] ajsantander opened #44 "CI with new commits to master"
Travis is currently running tests on each commit to master.

We'd like to also re-deploy the UI on doing so.

[2018-04-06 14:48] ajsantander commented on #33
Hmm. Interesting.

Can you make a suggestion as to how this would be achieved, considering `Ethernaut.sol`'s `validateInstance` function?

[2018-04-06 15:03] ajsantander opened #45 "Deploy script should consider case of nothing to deploy"
Atm, if you run `npm run deploy:contracts` no actions to take, the scripts prompts you to confirm doing nothing.
=P

It should instead notify that there is nothing to do and exit.

[2018-04-08 02:12] #32 closed

[2018-04-08 13:56] syncikin opened #47 "Deployment does not create deploy.development.json"
If you try to run `npm run deploy:contracts` without first creating deploy.development.json it will throw an error saying the file does not exist instead of trying to create it.

To reproduce just run `rm ./gamedata/deploy.development.json` and try run the deploy script again.

[2018-04-13 13:21] ajsantander opened #48 "Refactor to using a non-injected Web3 1.0"
As of November 2nd 2018, metamask will no longer inject web3 in the usual way. Users will have to "connect" and only then will they be able to use metamask for txs. Please see:
https://medium.com/metamask/https-medium-com-metamask-breaking-change-injecting-web3-7722797916a8

This change might require new UI elements and changes to the way web3 is used and bootstrapped.

[2018-04-13 13:23] ajsantander opened #49 "Create "Sagas""
All the levels provided so far, and in the context of devcon3 could be grouped into a general "basics" saga.

New sagas could be introduced that explore particular aspects of the EVM, such as memory, calldata, or storage usage.

The grouping could be static or tag-based, so that a level can appear in more than one saga.

[2018-04-13 13:25] ajsantander opened #50 "Collapse all level idea issues into a single issue that tracks a list"

[2018-05-04 14:47] ajsantander opened #56 "Rpc script with deterministic addresses is no longer necessary"
Not sure why it was created in the first place, but doesn't appear to be necessary

[2018-05-04 15:13] ajsantander opened #57 "Remove ACTIVE_NETWORK from constants"
Deployment and testing shouldn't have to depend on a constant, but on script parameters.

[2018-05-04 15:36] ajsantander opened #58 "Add GateKeeper level tests after theCyber publishes solutions"
See comment in code:
https://github.com/OpenZeppelin/ethernaut/blob/master/test/levels/Gatekeeper.test.js#L27

[2018-05-05 18:26] 0age commented on #58
Thanks for letting the tests slide for now @ajsantander 😁

I'll fill in the tests (and add attack contracts) once the gatekeeper contract on the mainnet has taken 128 entrants (there are 58 as of now). You can read the contract at [gatekeepertwo.thecyber.eth](https://etherscan.io/address/gatekeepertwo.thecyber.eth#readContract) (the pertinent field is `totalEntrants`).

[2018-05-09 13:01] ajsantander opened #60 "Update all contracts to solidity 0.4.23"
It's come to a point where significant language changes make it worth the while.

[2018-05-30 07:08] manxiaqu opened #65 "Found another soluation for Elevator(without modify state)"
I pass the Elevator by another solution without modify the state,  so it is possible for one to pass something like "Elevator" through the function will not change the state. Here is my code(not the original code published on ROPSTEN) and instance

[code]

Instance Address: 0x3359cdfc05ee2569458f6b6f52e721776cb5205e
Success Tx Hash: 0xf367b6daaa9ffb2fbe830f25ddcce47b75e547ffc6cb6bec91b3b35d1936cc7

[2018-06-25 22:01] yoryos opened #72 "re-entrancy is not sending ether when calling the withdraw function"
Reentrancy. As far as I can tell I must abuse the fact that withdraw sends money before decreasing the msg.sender balance.

I created the following contract to do so.
[code]

I couldn't reduce the balance to zero so I copy pasted the code from the example, deployed it and tested my solution against that deployment and it worked.

The two "possibly-broken" instances can be found on ropsten at addre

[2018-06-27 18:18] ajsantander opened #73 "High score board"
If players were able to associate their address with an alias, we would be able to use the information to present some sort of high score page. The page would present some sort of high score board.

Something that could be useful is the Stats.js page, that is currently not being shown on the top menu bar, but is still reachable at: https://ethernaut.zeppelin.solutions/stats

This page collects on

[2018-09-09 15:24] nczhu opened #78 "[minor fix] Clearer instructions for lvl 19"
Hey @ajsantander ,

Loved this level, but was tripped up for ~1 hour by the instructions to "return 42".

I thought you wanted us to return the uint 42 (0x2a), i.e. answer to universe, life, everything.
And was only able to pass after guessing you were checking for 0x42  😂

Possible to make instructions clearer? Thanks again~

[2018-09-21 14:37] ajsantander opened #79 "Ability to add donation addresses to authors"

[2018-09-22 21:10] ajsantander commented on #78
Hmm. I see!
Ok, will check it out.

[2018-09-22 21:11] #50 closed

[2018-09-22 21:12] #47 closed

[2018-09-22 21:13] #31 closed

[2018-09-22 22:05] ajsantander commented on #79
Added in recent commit.

[2018-09-22 22:05] #79 closed

[2018-09-24 18:05] ajsantander opened #81 "Update to latest OpenZeppelin version"
Current dependency is fixed at 1.6.0 because later versions of OpenZeppelin introduce breaking changes for levels that were deployed using older versions. Levels must be upgradeable before this change is made.

See #94

[2018-09-24 18:35] ajsantander commented on #78
Good catch @nczhu ! (and stupid mistake from my side).
Thx for reporting the bug. Would you do me a favor and peer review the fix? PR => https://github.com/OpenZeppelin/ethernaut/pull/82

[2018-09-25 14:46] nczhu commented on #78
Looks like it's already merged! Thanks for considering & fixing :)

On Tue, Sep 25, 2018 at 1:35 AM, Alejandro Santander <
notifications@github.com> wrote:

[2018-09-25 17:47] ajsantander commented on #78
Awesome, thx!

[2018-09-25 17:47] #78 closed

[2018-09-26 08:42] PumpkingWok commented on #48
Hi there,
Unfortunately it can't be tested now because Metamask have been released a new version yesterday that revert back to 4.9.3 version, for fixing some issue.I had already tested it because i'm doing the same issue for `Gitcoin.co`, but from yesterday the new `ethereum` object is disappear cause reverting.

[2018-09-28 09:03] PumpkingWok commented on #48
HI @ajsantander,
Metamask has just released a new version, with `ethereum` object back.
I start looking at the code.Thanks

[2018-09-29 12:57] #56 closed

[2018-09-29 17:30] ajsantander commented on #72
I wouldn't call this a bug in Ethernaut, but an attempt to solve the Reentrance level that is not working for not immediately logical reasons. I mean, the logic of your approach looks good, but there must be some gas problem I imagine stopping it from working. Perhaps it has to do with the cost of emitting events and the max. gas a fallback function can spend?

The tests for the level are passing,

[2018-09-29 17:30] #72 closed

[2018-09-29 22:12] ajsantander commented on #65
I first thought this was a bug, but it's actually a very clever alternative way to solve the level. Nice!

Would you consider making a PR to the level's completed description? It would be nice to mention this alternative path there.
https://github.com/OpenZeppelin/ethernaut/blob/master/gamedata/descriptions/levels/elevator_complete.md

[2018-09-29 22:12] #65 closed

[2018-09-29 22:18] ajsantander commented on #60
Actually, this may be wrong to do.

A contract's source should always represent what is deployed, and matches the contract's metadata, so unless the levels are re-deployed, the sources should not be changed. Sources should only be updated with a corresponding re-deploy.

Also consider that if a level is re-deployed replacing an old level, the old level's history would be lost.

[2018-09-29 22:18] #60 closed

[2018-09-30 22:34] ajsantander commented on #57
This would be nice for deploying stuff but it wouldn't work for the dapp itself, since without ACTIVE_NETWORK it wouldn't know what network to connect to.

[2018-09-30 22:34] #57 closed

[2018-10-01 11:31] PumpkingWok commented on #48
Hi @ajsantander,
I have edited the code for resolve this issue, with latest Metamask version (`4.12.0`).
Right now `await ethereum.enable()` has confirmed by default. (The UI to confirm/reject does not appear in this version yet). If you want i can open a WIP PR so you can inspect the code.
Thanks

[2018-10-03 10:50] PumpkingWok commented on #48
Hi @ajsantander,
I think that i have found a little bug while i was testing the code.

In `constants.js`, a field in `NETWORKS` has changed from `DEVELOPMENT` to `LOCAL`, but in `index.js` the check inside `checkWrongNetwork(id)` try to read from `constants.NETWORKS.DEVELOPMENT.id` and console catches an error because it is `undefined`.

Does it make sense ?
Thank you.

[2018-10-04 19:33] elopio commented on #17
Yes, thanks @syncikin. Closing.

[2018-10-04 19:33] #17 closed

[2018-10-08 13:05] PumpkingWok commented on #48
Hi @ajsantander,
Have you tested the code ? I have just noticed that Metamask released a new version without `ethereum` object again.
You should use a costum build for testing it, i think.
In any way we can keep in touch in these days for new updates.
Thanks.

[2018-10-09 02:20] mkosowsk commented on #48
Hi @ajsantander, have you had a moment to test @PumpkingWok's work? Thanks!

[2018-10-11 16:18] PumpkingWok commented on #48
Hi,
Yes, I'm still working on it.
I have already opened a PR, i'm waiting a response from devs.

[2018-10-12 12:59] ajsantander commented on #48
Hey @PumpkingWok,
Sorry for the delay in reviewing your work. Good catch on the NETWORK.DEVELOPEMENT BUG!

[2018-10-12 15:10] ajsantander commented on #48
@gitcoinbot @mkosowsk the PR https://github.com/OpenZeppelin/ethernaut/pull/87 is looking good. Will continue the conversation there since there are a couple of more things to do before we merge.

[2018-10-12 15:17] mkosowsk commented on #48
@ajsantander great! Please let me know when bounty is ready to be paid out and I will do so ASAP :)

[2018-10-12 17:11] nczhu opened #91 "Fix gamedata.json instanceGas: Default gas limit for contract creation is too low"
_Originally posted by @ajsantander in https://github.com/OpenZeppelin/ethernaut/pull/89#issuecomment-429351934_

[2018-10-17 13:16] ajsantander opened #93 "Add support for other languages"
Ethernaut should be available in other languages like Spanish or Chinese so that non-english speaking members of the community can have access to the resource.

This issue specifically refers to functionality and NOT content, i.e. just the dapp's generic ability to localize content and not the content in other specific languages itself.

The feature should allow to localize level description markd

[2018-10-18 04:38] #45 closed

[2018-10-19 14:01] ajsantander opened #94 "Update Ethernaut to use ZeppelinOS"
Three strong reasons to do this:

(1) Right now, if a bug is discovered in a level, the code needs to be fixed and the level re-deployed.

Ethernaut remembers which levels a player has passed, so this would mean that all history for a level is lost when it is re-deployed.

(2) Also, as Solidity matures, the levels will contain old code. It'd be nice to be able to update pragma versions on a level

[2018-10-19 14:50] #91 closed

[2018-10-19 14:55] #58 closed

[2018-10-19 14:56] #49 closed

[2018-10-19 14:56] #44 closed

[2018-10-19 16:33] iamonuwa commented on #93
@ajsantander how can I reach your team?

[2018-10-20 07:28] ceresstation commented on #93
Sorry @Jzarecra but @iamonuwa got to it first :) Looking forward to having you on some other bounties though!

[2018-10-20 14:57] ajsantander commented on #24
I'm not able to reproduce this issue. The tests specifically check for the situation you describe and they currently pass... I also tested doing what you say with the dApp in ropsten and I wasn't able to complete the level in that way.

[2018-10-20 14:57] #24 closed

[2018-10-22 12:32] iamonuwa commented on #93
@gitcoinbot work in progress. Sending in PR soon

[2018-10-22 21:20] eranmeir opened #96 "Error creating ethernaut instance"
Trying out the Hello Ethernaut level and creating a new instance fails. See console output below. I tried reloading/resetting/etc., but the error persists.

Chrome 69.0.3497.100 and MetaMask  4.16.0
[code]

[2018-10-22 23:14] TravisGDev commented on #73
Here is the design document for this task. This is a work in progress and I will update it with feedback and with any issues I face when coding the solution. This will ensure that none of the requirements are missed, the solution is efficient, potential bugs / attacks are taken care of and planned for, and that the solution fits within the vision of the Ethernaut team. All feedback / discussion is

[2018-10-23 05:40] Jzarecta commented on #93
I wonder if there is something I need to provide to get approved?

[2018-10-23 09:21] PumpkingWok commented on #96
Hi @eranmeir,
Are you still having this issue ? You can try to disconnect Metamask and reopen again.
I have encountered the same issue some times and i resolved in this way.
Let me know, thanks.

[2018-10-23 22:31] ajsantander commented on #93
Thx @iamonuwa (and @Jzarecta nonetheless)! Looking forward to your work.

[2018-10-24 08:28] eranmeir commented on #96
Seems to solve it, thanks

[2018-10-24 08:28] #96 closed

[2018-10-24 12:29] iamonuwa commented on #93
@ajsantander am currently working on the logic. I have added react-intl which is what am using. Added the language to the window global instance to be served together with the other variables inside the window instance. I have a slight issue. On the loadGameData middleware, I see that its loading the game data. I was thinking of adding an additional directory say `en` for english, `es` for spanish

[2018-10-25 21:33] jschiarizzi commented on #93
Overriding bounty to submitted.

[2018-10-26 01:45] sweatyc opened #99 "Failed to create instance - Unhandled promise rejection"
Sometime it failed to create the instance with error:
Unhandled promise rejection,Error: Cannot create instance of GatekeeperTwo; no code at address...

In Firefox:
![screen shot 2018-10-26 at 12 43 39 pm](https://user-images.githubusercontent.com/3059384/47539606-e0e1b480-d91c-11e8-8732-a2211164fe56.png)

In Chrome:
![screen shot 2018-10-26 at 12 49 05 pm](https://user-images.githubusercontent.co

[2018-10-27 16:40] #48 closed

[2018-10-27 17:06] ajsantander commented on #93
Yes! Sorry. These are busy days, you know, because devcon =/

I like the approach. Sounds good!

[2018-10-27 17:09] ajsantander commented on #99
Thanks for the report @sweatyc

Indeed, this is a problem that we've been seeing a lot lately. I believe it has to do with Ropsten's latest crash. I added a work around that should work for the time being. Pls re-open otherwise!

[2018-10-27 17:09] #99 closed

[2018-10-28 01:56] mkosowsk commented on #48
Hi @mbeacom, when I'm trying to pay funds to @PumpkingWok I see this error.

![enter amount](https://user-images.githubusercontent.com/7970539/47611051-1f699300-da33-11e8-9d6e-b401d4069334.PNG)

Ever seen this before? 🤔

[2018-10-28 14:50] mbeacom commented on #48
@mkosowsk This has been resolved!

[2018-10-29 21:13] iamonuwa commented on #93
Cool then. Will be submitting a PR to add that.

[2018-10-30 10:01] iamonuwa commented on #93
@ajsantander please can you review?

[2018-11-01 20:14] iamonuwa commented on #93
@ajsantander are you there?

[2018-11-03 10:14] ceresstation commented on #93
Hey @iamonuwa I think @ajsantander will be able to review soon, devcon just wrapped up so assuming he's probably still getting back into the regular flow of things.

[2018-11-05 17:01] PumpkingWok commented on #48
Hi @ajsantander,
I have just seen that Metamask changed some code logic again, i don't know if the code of my PR works properly now, unfortunately i'm busy today but if you want i can look in it from tomorrow, let me know.
In the meantime you can look in it for new changes https://github.com/MetaMask/metamask-extension/pull/4703#issuecomment-430814765
Thanks

[2018-11-28 13:35] iamonuwa commented on #93
@ajsantander please review my latest PR

[2018-12-04 23:37] iamonuwa commented on #93
@ajsantander are you there? Still waiting for your feedback

[2018-12-10 02:56] CPSTL commented on #93
Hey @ajsantander ! Gitcoin Ambassador here to ask if @iamonuwa 's has received feedback on his latest PR?

[2018-12-12 02:17] NukeManDan opened #103 "Level 2: Fallback remix does not compile."
from instruction here: https://ethernaut.zeppelin.solutions/level/0x220beee334f1c1f8078352d88bcc4e6165b792f6
[code]

On copy/paste into remix of the contract, it does not compile using the present `Ownable.sol` copy imported by:
`import "https://raw.githubusercontent.com/OpenZeppelin/openzeppelin-solidity/master/contracts/ownership/Ownable.sol";`

[2018-12-15 10:57] maxsam4 opened #105 "UI: Hide hints behind a spoiler"
Currently, a lot of levels just slap giveaway hints right at your face. Hiding them behind a spoiler button will be a good tweak in my opinion. Might even add nested spoilers :)

[2018-12-16 21:48] ryan-shea commented on #93
Hey @ajsantander, Ryan from Gitcoin here. Any word on this one? Feel free to reach out if you have any questions for me.

[2018-12-27 13:40] ajsantander commented on #93
Hello! Yes, Sorry again for the delay. Reviewing the PR now...

[2019-01-16 22:40] owocki commented on #93
hey @ajsantander from team gitcoin !  is there someone on your team who has the cycles to do some review?  cc @iamonuwa

[2019-02-22 16:33] redragonx opened #113 "Feature request: add support for multiple test networks"
Hi,

This is related to my problem: https://forum.zeppelin.solutions/t/need-help-with-ethernaut-test-network-ropsten-error/321

It appears that this ropsten test network has been outdated since October 2018 and as a result, nobody can play the game if they have no eth.

What are your thoughts on this?

[2019-04-25 04:04] paulinablaszk opened #117 "Update to Solidity 0.5"
Solidity update to version 0.5 has brought breaking changes. We have to update all contracts to compile with > 0.5

[2019-04-26 02:00] frederickalcantara opened #118 "Create Pass/Fail Message similar to Crypto Zombies"
I think there should be sort of way to determine that you completed the level with using a prompt, or a message stating that you passed. Similar to what Crypto Zombies has when you enter in code. You will get a pass or fail prompt.

[2019-04-26 02:11] frederickalcantara opened #119 "Create documentation for contributing"
We should create a proper guideline on how to properly contribute to this repo. This will allow anyone to get their feet wet and contribute accordingly.

[2019-04-26 02:13] frederickalcantara opened #120 "Create a page for readings to catch up"
We should create a readings page to help those who want to contribute but who don't Zeppelin catch up with recent literature on smart contract security.

[2019-04-26 09:44] paulinablaszk commented on #119
Good point. Maybe we can adapt the Openzeppelin-solidity contribution guide
https://github.com/OpenZeppelin/openzeppelin-solidity/blob/master/CONTRIBUTING.md

[2019-04-26 11:02] frederickalcantara commented on #117
It also wouldn't be a bad idea to write tests for the Solidity code either. It's will be good for testing changes down the road.

[2019-04-27 13:21] frederickalcantara commented on #94
I'll take this issue on.

[2019-04-27 13:24] frederickalcantara commented on #117
Do we have a specific Solidity 5 version that we want to use?

[2019-04-27 13:31] frederickalcantara opened #121 "Upgrade from Ropsten test network"
The Ropsten test network seems to be deprecated. We should upgrade to another test network such as Goerli or Rinkeby.

[2019-04-27 18:22] paulinablaszk commented on #117
@frederickalcantara What kind of test do you think about?
I've started with "pragma solidity ^0.5.0" because it is actually used in Openzeppelin-solidity and ZeppelinOS smart contracts

[2019-04-27 18:40] frederickalcantara commented on #117
Im looking up different types of testing conventions. But I know that TDD is the better way to go in long term, reduces bugs & prevents headaches down the road.

[2019-04-27 18:41] frederickalcantara commented on #119
Another good format that I saw was over at prysmatic labs. [https://github.com/prysmaticlabs/prysm/blob/master/CONTRIBUTING.md]

[2019-04-27 18:42] frederickalcantara commented on #120
An example of this would be over at [Readings]https://github.com/prysmaticlabs/prysm/blob/master/docs/READINGS.md

[2019-04-30 04:04] paulinablaszk opened #122 "Use SafeMath for arithmetic operations"
The goal is to introduce SafeMath for arithmetic operations so that the code represents good Solidity practices.
We have to be careful to not spoil some game levels.

[2019-05-11 12:44] obernardovieira commented on #12
I can do it. Assign to me and put in progress, please.

[2019-05-11 12:47] ylv-io commented on #12
Hey, @obernardovieira. Can't assign you but set it in progress. Probably @ajsantander or @martriay can assign you!

[2019-05-11 18:57] martriay commented on #12
@obernardovieira I just sent an invite!

[2019-05-13 21:00] frangio commented on #81
Why do the levels have to be upgradeable?

[2019-05-13 21:29] scammi opened #127 "How is Bootstrap implemented?"
I'm struggling to see how is bootstrap is implemented since it is only imported on the index.js as bootsrap.css. Which does not include de nav bar class, but Ethernaut uses it none the less.

For example, Header.js imports:
[code]
Then it uses bootrap nav:
[code]
So, how is it able to use bootrap with out importing it?
I hope it is not too much of a silly question. What I'm trying to do is add a l

[2019-05-18 17:24] obernardovieira opened #129 "Use the correct line tab"
As I work with 4 spaces as a tab, I immediately saw the difference. I prefer the 4 spaces, but that is not the problem.

Since I use VSCode and, by default I have 4 spaces, the code I was writing, was not being formatted correctly.

In all my projects, I use [EditorConfig](https://editorconfig.org/). It will be awesome to have it here as well. What are your thoughts?

[2019-05-22 06:29] abcoathup opened #130 "Update text"
Update text in Ethernaut based on questions in the forum and my own attempts at the levels.

https://forum.zeppelin.solutions/t/may-2019-ethernaut-status-update/670/3?u=abcoathup

[2019-05-23 11:01] #122 closed

[2019-07-23 05:21] paulinablaszk commented on #119
I can prepare this contribution guide

[2019-07-23 05:27] paulinablaszk commented on #129
It's a very good idea.
I think we should also change indentation in the code to be o be consistent with Solidity Style Guide -I've noticed that there are 4 spaces or 2 spaces used in different contracts. We can also convert all existing indentation to spaces

[2019-07-23 09:29] obernardovieira commented on #129
Great, I'll open a PR.
Since you are working in #123 do you want to do that with the contracts?
I've realized there's no linter for JS either. Instead of editorconfig, maybe a linter is better, like eslint.

[2019-07-23 10:19] paulinablaszk commented on #129
I can correct the contracts. Do you think I should do it within  #123 or is it better to wait for the review to don't mix those issues?

[2019-07-23 10:58] obernardovieira commented on #129
Let's not mix it. #123 is already really big and you've put a huge amount of time and really good work. And that is about migrating it to 0.5, so let's keep it this way.
After that, we open another PR to fix this issue. :+1:

[2019-07-23 11:27] paulinablaszk commented on #129
Sounds like a good plan :)

[2019-07-25 04:20] abcoathup commented on #129
Agree on updating the contracts once #123 is done.

My preference is consistency with OpenZeppelin contracts linting.

[2019-08-01 08:23] paulinablaszk opened #147 "Add error messages for require statements"
I think we should add error messages for all require (and assert) statements in contracts. What do you think about the format of reason strings? I think it should be consistent with other OpenZeppelin contracts

[2019-08-01 08:27] abcoathup commented on #147
I agree that the format should be consistent with other OpenZeppelin contracts.

Should we wait until https://github.com/OpenZeppelin/ethernaut/issues/117 is done and then update or do it as part of that?  I am keen to get the upgrade to Solidity 0.5 complete.

[2019-08-01 16:31] obernardovieira commented on #147
I don't have good experience with require error messages on ropsten. How about you guys?
And this seems to be the solution (or the problem) https://github.com/ethereum/go-ethereum/issues/18360
Also, we should wait until #117 is merged and then move on with everything else, in my opinion.

[2019-08-05 04:32] paulinablaszk commented on #147
I agree we have to wait for the update to Solidity 0.5, I was thinking about adding error messages during #177 but I didn't want to mix these issues.
I think that even if error messages are not supported by all clients, it might be a
example of good practices for people learning Solidity, because it is helpful in the development process

[2019-08-24 17:01] NieDzejkob opened #148 "The RecoveryFactory can only handle one player at a time"
The `lostAddress` variable is global for all players. This means that only the newest instance is solvable, which could lead to some weird behavior should two players try solving the level at the same time.

[2019-10-22 09:24] NicsTr opened #150 "Error while trying to install `scrypt` dependency"
# Description
When trying to build dependency `scrypt`, errors occurs during compilation. Extract from error log:

gyp ERR! build error
gyp ERR! stack Error: `make` failed with exit code: 2

It looks like its linked to https://github.com/barrysteyn/node-scrypt/issues/135

Do you have an idea on how I can fix this or manage to run this project without it?

# Steps to reproduce
In a brand new nodeen

[2019-10-23 04:33] abcoathup commented on #150
Hi @NicsTr,

I am running on Windows Subsystem for Linux with the following versions and I didn't get the `gyp ERR! build error` you are seeing:
[code]

Can you advise what operating system (and version) along with node and npm versions you are using?

Have you had issues with installing any other `npm` packages?

Ethernaut is played online: https://ethernaut.openzeppelin.com

What did you want to

[2019-10-24 08:32] NicsTr commented on #150
Hi @abcoathup,

I was using `node` v12, now that I downgraded it to v10 it works as expected.

For the record, I try to use the Ethernaut framework to create my own challenges.

Thanks for your time and help.

[2019-10-24 08:32] #150 closed

[2019-10-25 09:58] abcoathup commented on #150
Hi @NicsTr,

Glad that you were able to resolve by downgrading node.

FYI: The community is in the process of upgrading from Solidity 0.4 to Solidity 0.5.  The existing contracts have been upgraded but there is an outstanding issue with building the website: https://github.com/OpenZeppelin/ethernaut/pull/123#issuecomment-521896117

[2019-11-27 07:39] abcoathup opened #152 "Solidity 0.5 Version: Duplicate `Mined transaction` in console after a transaction"
Duplicate `Mined transaction` in console after a transaction when testing Solidity 0.5 Version of Ethernaut

**💻 Environment**
Solidity 0.5 Version of Ethernaut (https://solidity-05.ethernaut.openzeppelin.com/)
Brave browser on Windows 10

**📝Details**
After submitting a transaction, duplicate `Mined transaction` in console are shown.  Duplicates appear ~ 20 seconds

<img width="275" alt="Etherena

[2019-11-28 04:14] abcoathup opened #153 "Solidity 0.5 Version: MaxListenersExceededWarning"
`MaxListenersExceededWarning` shown in console when testing Solidity 0.5 Version of Ethernaut

**💻 Environment**
Solidity 0.5 Version of Ethernaut (https://solidity-05.ethernaut.openzeppelin.com/)
Brave browser on Windows 10

**📝Details**
`MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 101 data listeners added. Use emitter.setMaxListeners() to increase limit` shown in con

[2019-11-29 00:06] abcoathup commented on #153
Related to open issue: https://github.com/ethereum/web3.js/issues/1648

[2019-11-30 12:57] bergarces opened #154 "Solidity 0.5 Version: Re-entrancy outdated advice"
:computer: **Environment**
Solidity 0.5 Version of Ethernaut (https://solidity-05.ethernaut.openzeppelin.com/)

:memo: **Details**
After finishing the Re-entrancy level (10) in Ethernaut, a tip appears suggesting to use _transfer_ to move funds out of the contract.

As per [Steve Marx's recent blog post](https://diligence.consensys.net/blog/2019/09/stop-using-soliditys-transfer-now/) and [your own

[2019-11-30 14:07] bergarces opened #155 "Solidity 0.5 Version: Elevator outdated advice"
:computer: **Environment**
Solidity 0.5 Version of Ethernaut (https://solidity-05.ethernaut.openzeppelin.com/)

:memo: **Details**
After finishing the Elevator level (11) in Ethernaut, a tip appears stating that solidity does nothing to prevent a view function from modifying the state.

According to the latest [Solidity documentation](https://solidity.readthedocs.io/en/develop/contracts.html#view-

[2019-12-03 18:02] bergarces opened #156 "Solidity 0.5 Version: Shop - Out of gas"
:computer: **Environment**
Solidity 0.5 Version of Ethernaut (https://solidity-05.ethernaut.openzeppelin.com/)

:memo: **Details**
When attempting to solve the Shop level (21). Once taken into account the Istanbul hard fork and the introduction of [EIP-1884](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1884.md) (which is already active in Ropsten), 3000 gas seems to be insufficient to imp

[2019-12-03 18:15] bergarces opened #157 "Solidity 0.5 Version: Alien Codex - Requesting new instance loop"
:computer: **Environment**
Solidity 0.5 Version of Ethernaut (https://solidity-05.ethernaut.openzeppelin.com/)
Ubuntu 19.10
Chrome Version 78.0.3904.108 (Official Build) (64-bit)
MetaMask 7.6.1

:memo: **Details**
When attempting to get a new instance for the Alien Codex level (19), it seems like a new transaction attempt to create a contract is issued after the previous one is mined successfully.

[2019-12-03 23:42] abcoathup opened #160 "Solidity 0.5 Version: Levels marked as `Completed` when not attempted"
Reported by a community member via email:

Levels 10 and 11 show as 'Completed' with blue ticks in front of them when they had not been attempted in the Solidity 0.5 Version.
Refreshing and hard-refreshing, as well as disabling and re-enabling MetaMask plugin did not resolve.

-----

I have seen something similar previously but haven't been able to reproduce.

[2019-12-04 19:16] tinchoabbate commented on #160
Same happened to me, Token and Delegation appeared as completed after I solved Telephone :thinking:

[2019-12-05 06:05] abcoathup opened #161 "Solidity 0.5 Version: Elevator level restrict to view"
Elevator level can be restricted to view.

See the attack here:
https://github.com/OpenZeppelin/ethernaut/pull/123#discussion_r317367511

[2019-12-05 06:12] abcoathup commented on #156
@IvanZakharov what are your thoughts on this?

[2019-12-05 06:18] abcoathup commented on #157
Thanks, I have the same experience with Alien Codex level.

[2019-12-05 08:35] bergarces commented on #156
In retrospective. I think I was wrong suggesting that forwarding gas is no longer required, as even if it can't be used to modify storage any longer, the attacker could use gasleft() to determine which result to return.

[2019-12-06 05:34] abcoathup commented on #160
I now have a number of levels showing as completed:

10. Re-entrancy ✔
11. Elevator ✔
12. Privacy ✔
13. Gatekeeper One
14. Gatekeeper Two ✔
15. Naught Coin ✔
16. Preservation ✔
17. Recovery ✔
18. MagicNumber ✔
19. Alien Codex
20. Denial ✔
21. Shop

[2019-12-06 14:46] tinchoabbate commented on #160
I'm trying to track this down.

Completed levels are tracked in LocalStorage (see https://github.com/OpenZeppelin/ethernaut/blob/solidity-05/src/reducers/playerReducer.js#L36-L62). Removing the level from LocalStorage manually puts things back to normal.

The `SUBMIT_LEVEL_INSTANCE` action is triggered here by a listener: https://github.com/OpenZeppelin/ethernaut/blob/solidity-05/src/middlewares/s

[2019-12-06 15:22] tinchoabbate commented on #160
I seem to have found the culprit. In https://github.com/OpenZeppelin/ethernaut/blob/solidity-05/src/middlewares/syncPlayerProgress.js#L16-L18 we don't seem to be filtering appropriately. According to https://web3js.readthedocs.io/en/v1.2.2/web3-eth-contract.html#contract-events, we should be doing:

[code]

[2020-03-22 01:11] CallMeGwei commented on #157
I'm also having this issue.

[2020-03-22 02:25] CallMeGwei commented on #157
## Workaround:

The contract is being created successfully. That fact, however, is not being registered in local storage.

One may manually edit the browser's local storage as a temporary workaround. (Accessing local storage data should be in dev tools.)

![image](https://user-images.githubusercontent.com/34364155/77240964-53aa9a00-6bba-11ea-9fb4-02a7c44548f8.png)

Add the appropriate key:value pa

[2020-03-25 01:53] STYJ opened #165 "Solidity 0.5 Version: Elevator level code snippet display bug"
Please see picture attached below.

![photo_2020-03-25_09-53-17](https://user-images.githubusercontent.com/17739166/77493569-7967c580-6e7e-11ea-955a-6a84fa2b2ceb.jpg)

[2020-03-30 05:31] abcoathup opened #166 "Solidity 0.4 - Level 22 Shop returns 404"
Solidity 0.4 - Level 22 Shop returns 404, reported via email by a community member

[2020-04-05 07:49] STYJ commented on #156
I believe this is still an issue. I've tried it with a solution that returns a value depending on what value `isSold` is i.e. I'm not even modifying the state so the `STATICCALL` is not an issue for me.

`contract AttackShop is Buyer {
    Shop public shop;

    constructor(Shop _shop) public {
        shop = _shop;
    }

    function buy() public {
        shop.buy();
    }

    function price()

[2020-04-19 14:09] sacredwx commented on #157
same here

[2020-04-21 19:21] sacredwx commented on #156
same here, the gas is just (a little) insufficient for the solution of the level

[2020-05-19 07:27] Asamartino opened #167 "New level: Privacy II"
Hi,

I have an idea for another Ethernaut level. It will be in continuation of the Privacy level. Except this time one part of the password will be hidden in a dynamic array and the other part in a mapping.
To solve this level the user will have to understand how data is stored in dynamically-sized values and compute the location of it in order to retrieve it (as explained in [this article](https:

[2020-06-05 07:31] abcoathup commented on #167
Hi @Asamartino,

I'm sorry that I haven't gotten back to you on this yet.
I like the idea.

I am thinking of the best way to upgrade to Solidity 0.6 and create a Solidity 0.6 version of Ethernaut.

[2020-07-21 06:46] abcoathup opened #170 "Get new instance results in error: TypeError: Cannot read property 'address' of undefined"
Pressing `Get new instance`  button on [Level 0](https://ethernaut.openzeppelin.com/level/0xdf51a9e8ce57e7787e4a27dd19880fd7106b9a5c) results in error in the console:
[code]

This occurs when using MetaMask 8.0.4 on Brave with Ropsten network selected with an account with Ropsten ETH.

First reported in the community forum: https://forum.openzeppelin.com/t/ethernaut-problem-with-player-and-etherna

[2020-07-23 10:30] harsh-98 commented on #170
I am also getting the same error with new version of the metamask.

[2020-07-27 15:40] #170 closed

[2020-07-28 00:40] abcoathup commented on #170
Hi @harsh-98,

You should be able to play Ethernaut.

Thanks to @ayasamind for the PR. 🙏

[2020-08-04 15:18] sinsinpurin opened #175 "Can't complete Alien Codex"
I try ethernaut solc 0.4.24 ver.
It seems that array overflow is not currently possible...

<img width="890" alt="スクリーンショット 2020-08-05 0 12 11" src="https://user-images.githubusercontent.com/40846038/89310947-52cd5d00-d6b0-11ea-9ece-981a8d1732d3.png">

[2020-08-07 04:50] abcoathup commented on #175
Hi @sinsinpurin,

We have been able to reproduce this issue by following these steps:
Using the instructions from: https://ylv.io/ethernaut-alien-codex-solution/
[code]
[code]

Thanks so much for reporting it!

[2020-08-07 13:39] ylv-io commented on #175
This is quite strange indeed, because solc shouldn't generate an array boundary check before [version 0.4.9](https://github.com/ethereum/solidity/releases/tag/v0.4.9), but I do get `Error Message: invalid opcode 0xfe` error on my transaction. Need more time to invistigate.

[2020-10-06 01:28] dahifi commented on #167
@abcoathup, I don't think the Delegation challenge will work in 0.6.0 since they updated the way fallback functions work.

In the process of downgrading my compiler and SafeMath libs to 0.5.0 so I can play along.

[2020-10-15 16:34] MrClottom opened #179 "Update web3 to 1.3.0+"
Please update the version of the web3 instance injected into the console.

Not only is the 0.20 version outdated I can't seem to find documentation for it, making challenges especially challenging to solve.

[2020-10-24 21:03] #103 closed

[2020-10-30 15:03] juanpcapurro opened #180 "Availability of the game on other testnets"

[2020-10-30 15:07] juanpcapurro opened #181 "Availability of the game on other testnets?"
Currently Ropsten has a very low gas limit of `155040`, and yesterday there weren't any blocks for like an hour.

Additionally the community doesn't seem to be very active on it, and it's hard to find a faucet that works.

Is the game available on other testnets?

If not, IMO it would make sense to host another instance on Kovan or Rinkeby

[2020-11-06 09:34] abcoathup commented on #181
Hi @juanpcapurro,

Thanks for reporting.  Ethernaut is only available on Ropsten currently.
Ropsten has been problematic recently so we are looking at the best way to deal with this.

[2020-11-10 19:49] frangio commented on #180
Duplicate of #181.

[2020-11-10 19:49] #180 closed

[2020-11-12 23:11] hensha256 commented on #181
Hey @juanpcapurro! Today we launched a Rinkeby version of Ethernaut. You can find it at ethernaut.openzeppelin.com. The Ropsten version will still be available at ropsten.ethernaut.openzeppelin.com

[2020-11-12 23:12] #181 closed

[2020-11-12 23:13] hensha256 commented on #179
Hey @MrClottom! Today we updated Ethernaut to use 1.2.27. We are hoping to move to 1.3.0 as soon as possible, but it brought in a couple of changes that mean the code needs to be updated, so we will need a little time to make that update.

[2020-11-12 23:13] #179 closed

[2020-11-12 23:14] hensha256 commented on #121
We have moved to Rinkeby now. Ropsten is still available at ropsten.ethernaut.openzeppelin.com

[2020-11-12 23:14] #121 closed

[2020-11-12 23:15] #117 closed

[2020-11-25 17:57] frangio opened #188 "MetaMask deprecation messages"
I see the following MetaMask deprecation messages on the console:

[code]

[2020-12-02 22:31] overqint opened #189 "Transaction fails - authenticate function sets cleared to true"
Thanks for the great game and this level.

Level 0 Hello Ethernaut:

Don't know if this is intended or not?

Chrome console, after calling:

`
await contract.authenticate('ethernaut0')
`
metamask starts a transaction

even if the transaction fails, cleared is set to true and the level is cleared.

#contracts/levels/Instance.sol

[code]

@ajsantander

[2020-12-06 22:58] abcoathup opened #191 "ropsten.ethernaut.openzeppelin.com warns on wrong network and to switch to Rinkeby"
ropsten.ethernaut.openzeppelin.com warns that the user is on the wrong network and to switch to Rinkeby.

![image](https://user-images.githubusercontent.com/28278242/101295514-2601a000-3872-11eb-88d1-615b75f4e2d1.png)

Switching to Rinkeby and Ethernaut is playable.

[2020-12-06 23:21] Glisch commented on #191
In the source js can see

` // export const ACTIVE_NETWORK = NETWORKS.ROPSTEN
var ACTIVE_NETWORK = exports.ACTIVE_NETWORK = NETWORKS.RINKEBY;
// export const ACTIVE_NETWORK = NETWORKS.LOCAL`

And doing `ACTIVE_NETWORK = exports.ACTIVE_NETWORK = NETWORKS.ROPSTEN;` in the console allows it to be used in the meantime.

[2020-12-08 05:59] abcoathup commented on #189
Hi @overqint,

I tried to reproduce, Level 0 Hello Ethernaut

In the developer console I ran the following:
[code]
I then Rejected the transaction in MetaMask

Checking the value of cleared returns false
[code]

Is there something that I am missing?

[2020-12-08 10:58] overqint commented on #189
It behaves like you described, could not reproduce the issue again; closing it.
Thanks for checking it out @abcoathup

[2020-12-09 04:02] abcoathup commented on #189
Thanks for trying again @overqint.  I will close this issue as neither of us could reproduce.

[2020-12-09 04:02] #189 closed

[2020-12-11 18:14] frangio commented on #191
This is fixed now. Apologies for the inconvenience!

[2020-12-11 18:14] #191 closed

[2020-12-31 20:31] clifton opened #194 "Rinkeby faucet not working"
See: https://github.com/ethereum/go-ethereum/issues/21166

Hi, I can't finish chapter 0 of ethernaut as the faucet doesn't seem to be working, and it's not clear anyone is planning to fix it. Is there any guidance on how to proceed? Thanks

[2021-01-03 21:46] mpetrone commented on #194
I had the same issue. I used https://ropsten.ethernaut.openzeppelin.com/ where the faucets are working fine.

[2021-01-03 21:51] abcoathup commented on #194
Hi @clifton,

I am sorry that you had this issue with the faucet.  If you post a Rinkeby address I can transfer some Rinkeby Ether.

[2021-01-03 23:25] abcoathup commented on #194
You can also try the MyCrypto faucet: https://app.mycrypto.com/faucet

[2021-01-04 10:06] abcoathup commented on #194
Hi @clifton & @mpetrone,

The Rinkeby faucet is up and running again: https://twitter.com/peter_szilagyi/status/1346031644436815872?s=20

[2021-01-04 10:09] #194 closed

[2021-01-04 10:10] mpetrone commented on #194
too late :) I have already finished all the levels on ropsten.

thanks for all the contribution to the community! It was really fun!

[2021-01-04 23:34] abcoathup commented on #194
Hi @mpetrone,

Great!  You could add your solutions to the list of community solutions: https://forum.openzeppelin.com/t/ethernaut-community-solutions/561

For another challenge, you could look at: https://www.damnvulnerabledefi.xyz/
Community solutions: https://forum.openzeppelin.com/t/community-solutions-to-damn-vulnerable-defi/4744

[2021-01-09 16:47] gonzalpetraglia opened #197 "New Level: Selfdestruct and proxies"
Hi,

I was thinking about a new level for the game. In this level the player should rediscover the multisig parity issue. I think this is important to be known because of the explosion of new developers coming to Solidity/Ethereum and because of the rapid growth on the usage of proxy related patterns(for example ZOS upgradeability system, [some storage layout ](https://medium.com/1milliondevs/soli

[2021-01-10 23:09] abcoathup commented on #197
Hi @gonzalpetraglia!  Thanks for the suggested level, it is really appreciated.

OpenZeppelin Upgrades Plugins check for upgrade safety, including checking for `selfdestruct`.

Please wait until there has been discussion on this suggested level before writing any code or submitting a Pull Request.  We don’t want you to waste your time!

[2021-01-18 13:31] gcutrini opened #198 "Requesting new level instance does not populate contract var"
On Firefox, tested Level 0 or Level 1, when clicking on 'Get new Instance' button, it does request new instance but after confirming MetaMask transaction, only getting a MetaMask notification 'Transaction X Confirmed'.
On console, contract still has "No contract set, go to a level and click 'Get new instance'" value.

[2021-01-18 21:55] abcoathup commented on #198
Hi @gcutrini!

We can reproduce this issue using Firefox.  Thanks so much for reporting it!
I assume this is caused by the MetaMask breaking changes which rolled out to Firefox first, as I had the issue on Firefox but not on Brave: https://medium.com/metamask/breaking-changes-to-the-metamask-provider-are-here-7b11c9388be9

The project owner will review and triage this issue as soon as they can.

I

[2021-01-19 22:55] fmaduakor opened #199 "Incompatibility with MetaMask"
Metamask has discontinued injecting window.web3.
Frontend (ropsten) does not work anymore with metamask.

edit:// Seems to work with MetaMask Legacy Web3. However, no new instance is shown after sending transaction

[2021-01-20 00:00] abcoathup commented on #199
Hi @fmaduakor,

Thanks for raising.  As this is a duplicate of #198, I will close this and we can pick up the discussion there.

[2021-01-20 00:00] #199 closed

[2021-01-20 00:52] fmaduakor commented on #198
Workaround with Brave/Chrome does not seem to work anymore

[2021-01-20 16:00] frangio commented on #198
Thank you all for reporting the issue. Unfortunately we don't have the bandwidth to fix this at the moment, so we've put up a maintenance page until we can, or someone helps us with the necessary changes.

[2021-02-02 15:52] GregTheGreek opened #200 "Upgrade web3.js to latest minor"
The currently used version of web3.js is not compatible with the latest release of Metamask. Consider bumping to web3@^1.3.3

[2021-02-02 23:49] abcoathup commented on #200
Hi @GregTheGreek,
Thanks for the suggestion, it is really appreciated.
Please see: https://github.com/OpenZeppelin/ethernaut/issues/198#issuecomment-763732953

PR's are welcome.

[2021-02-20 00:31] hackingbeauty commented on #198
In order to upgrade this project to the latest version of web3, we may need to resolve other relevant npm dependencies as well.

I tried upgrading web3 for this project; however, the Webpack config has been preventing me from booting up the project after I upgrade.

Is it OK if I issue a PR with a completely new Webpack config?  The new Webpack config would be more readable and easier to configure

[2021-02-20 20:33] #198 closed

[2021-02-20 20:33] #200 closed

[2021-02-24 21:27] frangio commented on #188
Some of these warnings are still present as was explained in #201:

[2021-03-03 13:58] gpetraglia commented on #197
I'm thinking about other levels similar to this one regarding enums or struct modification during an update.

For example a level, where a user could change a value in a struct before triggering an update that modifies said struct such that the user is able to drain the contract.

What do you think?

[2021-03-03 13:59] gonzalpetraglia commented on #197
I'm thinking about other levels similar to this one regarding enums or struct modification during an update.

For example a level, where a user could change a value in a struct before triggering an update that modifies said struct such that the user is able to drain the contract.

What do you think?

[2021-03-07 03:12] smessmer commented on #156
It is still solvable. Solution (SPOILERS!): https://pastebin.com/4G4xuUDn

[2021-03-09 01:50] abcoathup commented on #156
Hi @smessmer,

Thanks for sharing.  You could add your solution to the community solutions: https://forum.openzeppelin.com/t/ethernaut-community-solutions/561

[2021-03-16 16:02] frangio opened #206 "Leaderboard"
We want to build a leaderboard to rank users on some metrics of their performance on Ethernaut.

### Metrics

1. Number of levels solved
2. Time (measured in block numbers?) from deployed to submission of correct solution

These metrics should be combined together to form a score for the ranking, possibly a weighted sum of both of these numbers. Open to discussion.

### Implementation

This leader

[2021-03-27 10:58] wchargin opened #207 "Reduce ether requirement for King challenge"
With the Rinkeby faucet policies around social media, acquiring testnet
ether can be inconvenient. The "King" challenge is hard-coded to require
1 ETH from participants, and during the challenge it's convenient to
have additional ETH on hand. It would be nice to tune these constants
down by a few orders of magnitude; the lesson works just as well if the
initial bid in the King contract is somethin

[2021-03-29 00:35] abcoathup commented on #207
Hi @wchargin!  Thanks for the suggestion, it is really appreciated.

The project owner will review your suggestion as soon as they can.

Please wait until we have discussed this idea before writing any code or submitting a Pull Request, so we can go through the design beforehand.  We don’t want you to waste your time!

[2021-04-07 20:19] ctholho opened #209 "Update Success Message Level 7: Force"
Hi, great project. Thank you for this project.

After completing Level 7, the success message tells us to avoid using `this.balance` for contract logic. However, `this.balance` is deprecated since soldity 0.5.0.

It's only a small change but keeping up with the times: I would propose that `this.balance` is changed to `address(this).balance`?

[2021-04-17 09:17] #209 closed

[2021-04-18 10:52] ShehryarShoukat96 commented on #175
Hi @ylv-io, I am getting the same error (`Error Message: invalid opcode 0xfe`) on Solc version 0.5.0. Do you have any idea about this?

[2021-04-20 15:18] frangio commented on #175
Hi everyone, we can confirm that the level can be solved, but the solution guide shared above is a bit outdated.

[2021-04-20 15:18] #175 closed

[2021-05-06 20:21] ChrisFenosEY commented on #170
@abcoathup I am getting the same issue. Can use the help() function, but cannot see player or ethernaut.

[2021-05-23 23:42] johnlewissims opened #221 "Add "Reconnect" Button to Hello Ethernaut Guide"
I had meta mask installed before starting this project and was already on the Ropsten Network. When I connected to the site, console log threw a "Connected to Wrong Network" error. I switched networks in MetaMask, but am still getting the same error in console log.

It would be nice to have a button to reconnect to the site on the first page and / or provide some directions in the "Connected to Wr

[2021-05-27 08:35] JoaoF17 opened #222 "help() undifined"
Hi team,

I am doing your challenges, and the first one "0.Hello Ethernaut" went by very smoothly.

However, once I started with the 2nd one the command help() won't work and returns undefined. Note that I also used it throughout the first challenge and it did work. But now if I try it again I return undefined, both in the 1st and 2nd challenge.

I am attaching a screenshot of it.

If you have any

[2021-05-27 08:37] JoaoF17 commented on #222
Forgot to mention I am on Windows and using brave browser.

[2021-06-15 03:23] benrobot opened #224 "Get new instance throws TypeError: Cannot read property 'address' of undefined"
When I click the "Get new instance" button on level zero I get the following error in the console:
[code]

This issue might be similar to https://github.com/OpenZeppelin/ethernaut/issues/170 but the stack trace looks different to me (an untrained eye).

I made sure to be on the Rinkeby network and I have some ether.

I'm using MetaMask Version 9.5.9

Here's a screenshot
![image](https://user-image

[2021-06-15 07:58] ericnickus commented on #170
Uncaught ReferenceError: ethernaut is not defined. - and I am using rinkeby network on metamask .

[2021-06-16 01:21] frangio commented on #224
Does this happen on other levels?

[2021-06-16 12:02] xaler5 commented on #224
I've just tried with same MetaMask version, on Brave, and I can't reproduce the issue

![image](https://user-images.githubusercontent.com/20795374/122215439-815cbc80-ceab-11eb-8aa2-15d934b36ee7.png)

[2021-06-23 14:21] xaler5 commented on #222
Have you tried cleaning up data ?
Trying to reproduce the error seems to be giving me both the result of the `help()` call but also an `undefined` below. I will investigate over the `undefined` but I can't reproduce your exact issue.

![image](https://user-images.githubusercontent.com/20795374/123113539-ec276e00-d43e-11eb-84b4-4377388df245.png)

[2021-06-23 14:27] frangio commented on #222
This is normal I think.

I also am not able to reproduce the issue.

[2021-06-23 16:22] alexbehrens commented on #224
I also get similar errors on all levels.... (brave+metamask)

[2021-07-06 19:43] frangio commented on #221
We're about to publish a big refactor of the frontend but a PR would be welcome after that.

[2021-07-06 19:47] johnlewissims commented on #221
No problem! I'll wait for the refactor.

[2021-07-13 14:49] spobwoode opened #227 "TypeError: Cannot read property '_middleware' of undefined"
I'm getting this error on level 0 when using with Chrome + Metamask (on Rinkeby):

`main.c609416a.js:36880 Uncaught (in promise) TypeError: Cannot read property '_middleware' of undefined
    at Object.attachLogger (main.c609416a.js:36880)
    at _callee$ (main.c609416a.js:129011)
    at tryCatch (main.c609416a.js:128174)
    at Generator.invoke [as _invoke] (main.c609416a.js:128412)
    at Genera

[2021-08-05 20:36] lsandoval9 opened #231 "Ethernaut is not showing completed levels"
Environment:

  Ethernaut is not showing completed levels, after the august update all the progress was reset. I already checked my localStorage and that my account is correctly connected to the Rinkeby network.

![levels](https://user-images.githubusercontent.com/63022972/128417270-61c5a979-bc80-4326-82a7-3927dba2414b.png)

![localStorage_edit](https://user-images.githubusercontent.com/63022972/1

[2021-08-09 23:51] frangio opened #246 "Set up CI"
We should set up GitHub Actions to run tests on push and pull_request.

[2021-08-17 04:08] #231 closed

[2021-09-05 20:07] stephenjfox opened #255 "Level 1. Fallback is no longer winnable"
Might be due to the new version of Solidity or the chain, but you can increase your contribution (as outlined [by the tests](https://github.com/OpenZeppelin/ethernaut/blob/master/contracts/test/levels/Fallback.test.js)) and still not receive ownership.

Don't know what the fix is for this, but there's a clear incongruence between the state of the app and test coverage.

New to Ethernaut, not new t

[2021-09-06 04:41] cmade commented on #227
The solution for me was to remove any other additional wallet extension that is not MetaMask. For me I removed my Coinbase wallet extension and it got rid of the error.

[2021-09-06 05:19] cmade commented on #224
The solution for me was to remove any other additional wallet extension that is not MetaMask. For me, I removed my Coinbase wallet extension and it got rid of the error.

[2021-09-10 15:14] konidk opened #256 "Level 3 - Can't submit instance"
I completed level 3 but it seems the submission always fails with "execution reverted" so it's not an "out of gas" issue.
I don't understand why this fails.

**contract.consecutiveWins()** returns 11 consecutive wins. I won 1 more time than necessary to try since the submission was already not working.

Here is the error in the console:
`Submitting level instance... <  < <<PLEASE WAIT>> >  >`
`⛏️

[2021-09-10 16:06] #256 closed

[2021-09-10 16:07] konidk commented on #256
Closed since it worked when trying with a new instance

[2021-09-13 11:51] xaler5 commented on #224
@alexbehrens and @benrobot

Trying to identify the issue, do you still suffer from it after @cmade suggestions ?

[2021-09-13 11:52] xaler5 commented on #227
Hey @spobwoode have you tried @cmade suggestions ?

[2021-09-13 14:49] xaler5 commented on #222
Hey @JoaoF17 are you still experiencing this ? We did many changes since you opened the issue.

[2021-09-13 16:13] xaler5 commented on #227
@spobwoode can you try this version with an hotfix ?
https://613f77839a5b1800084a989d--openzeppelin-ethernaut.netlify.app/

[2021-09-13 16:14] xaler5 commented on #224
@benrobot can you try this version with an hotfix ?
https://613f77839a5b1800084a989d--openzeppelin-ethernaut.netlify.app/

[2021-09-13 19:58] spobwoode commented on #227
Yep, it's working now, thanks. I also had to disable the Coinbase wallet extension I was using.

[2021-09-15 13:25] xaler5 commented on #227
Great, with this https://github.com/OpenZeppelin/ethernaut/pull/257 we should be able to catch MetaMask even if Coinbase wallet and Binance wallet extensions are installed.

Closing. Fell free to re-open if you still have the issue

[2021-09-15 13:25] #227 closed

[2021-09-15 13:26] xaler5 commented on #224
Great @benrobot
with this https://github.com/OpenZeppelin/ethernaut/issues/227 you should be able to see it in production.

Closing this

[2021-09-15 13:26] #224 closed

[2021-09-16 17:08] arcticmatt commented on #156
@smessmer that's a nice solution, but I don't think using YUL should be necessary to solve this challenge 😛. should be as simple as `shop.isSold() ? 0 : 100`

[2021-09-16 20:00] konidk opened #260 "Level 21 "Shop" seems to be impossible"
I'm stuck at level 21, I wonder if there's an issue with the level itself.

I implemented a ShopBuyer contract inheriting Buyer.
[code]

When I deploy the Shop contract myself,  I'm able to call attack() on the created instance and the challenge is met. It works as intended. However, when I call attack() on the instance generated by Ethernaut it doesn't work. Remix warns me with the following:

Wh

[2021-09-16 21:02] konidk commented on #260
Resolved using assembly instead of **shop.isSold()**. I got help from [this link](https://medium.com/@safeZ1/ethernaut-lvl-21-shop-walkthrough-how-to-use-assembly-code-in-solidity-and-abuse-solidity-d8ced86c0eb4).

The level of difficulty should be increased and a note specifying that the use of assembly is necessary should be included.

[2021-09-16 21:02] #260 closed

[2021-09-17 13:47] frangio commented on #8
It seems addresses in the console are already checksummed.

[2021-09-17 13:47] #8 closed

[2021-09-17 13:51] frangio commented on #10
Fixed in the latest version.

[2021-09-17 13:51] #10 closed

[2021-09-17 13:56] frangio commented on #33
This sounds useful, but it would be great to motivate it with an actual level that would work like this.

[2021-09-17 13:59] frangio commented on #81
When this issue was opened the dependency was at 1.6.0, but now Ethernaut is using OpenZeppelin Contracts 3.x. While it is not the most recent, it's recent enough for now!

[2021-09-17 13:59] #81 closed

[2021-09-17 14:01] frangio commented on #94
ZeppelinOS is no longer under development. :slightly_smiling_face:

[2021-09-17 14:01] #94 closed

[2021-09-17 14:04] frangio commented on #113
Agree that we should support more test networks. We're no longer using Ropsten, but we're using Rinkeby and it would still be nice to support a couple more for people who may already have test ETH on those other networks.

[2021-09-17 14:07] frangio commented on #119
Guidelines for adding a level are in the README. For any other doubts regarding contribution, please open an issue with your question.

[2021-09-20 09:14] JoaoF17 commented on #222
Hello Dario,

I haven't tried it since that time, but will definitely give it a go again.

Thank you for the updates and if something wrong will let you know.

________________________________
From: Dario ***@***.***>
Sent: Monday, September 13, 2021 3:50 PM
To: OpenZeppelin/ethernaut ***@***.***>
Cc: JoaoF17 ***@***.***>; Mention ***@***.***>
Subject: Re: [OpenZeppelin/ethernaut] help() undifined

[2021-10-04 18:27] frangio opened #268 "Add notice about community translations"
We should have a disclaimer that community translations are not officially supported so there may be mistakes.

[2021-10-05 09:51] this-post opened #269 "get_swap_amount() of Dex is crashed due to your revision"
Hi,

I've seen that you have added 23. Dex Two and change the code on 22. Dex, especially, get_swap_price() is changed to get_swap_amount(). But if we directly call to get_swap_amount() of 22. Dex, it always fails (execution reverted) since in the deployed contract, the function name is still the same (get_swap_price), but, in ABI, the function name is get_swap_amount.

Evidence:
ABI for in-game s

[2021-10-05 10:10] this-post commented on #269
using in-game syntax (fail)
![image](https://user-images.githubusercontent.com/7512001/136003645-e6ce190b-9dd7-4bdf-8fdf-611429a3f130.png)

change ABI to the old function name (get_swap_price)
![image](https://user-images.githubusercontent.com/7512001/136003866-a907e74f-d5d9-467f-afd2-622060ebfa04.png)

[2021-10-13 03:17] ImportNN commented on #207
I'm bumping this because there is no reason for this contract to ask for such a big amount of eth with the faucets problem that we are having.

[2021-10-14 06:53] #269 closed

[2021-10-18 06:55] #148 closed

[2021-10-21 15:06] cdor1 opened #284 "Submit button not working"
https://ethernaut.openzeppelin.com/level/0x78e23A3881e385465F19c1a03E2F9fFEBdAD6045
In 25 level(Motorbike) the submit button is not working

[2021-10-27 11:03] kylebakerio opened #286 "Cannot interact with contract... `Error in RPC response:,err: max fee per gas less than block base fee`"
@ https://ethernaut.openzeppelin.com/level/0x4E73b858fD5D7A5fc1c3455061dE52a53F35d966

input:

output:

:/

[2021-10-31 19:43] kylebakerio commented on #286
fwiw:

this was me following the opening instructions in order, to play with the ethernaut contract a bit before moving on. It didn't work, had to use the workaround above, but it turned out to be relatively irrelevant--I'd just change the instructions to prevent someone else falling down this rabbit hole--as the rest of the course worked fine.

[2021-11-22 08:31] wwbustb opened #292 "Level 9 King cost too much ETH to deploy. Rinkeby faucet is often unavailable recently"
contract need to send test eth back someway

[2021-11-22 08:34] wwbustb commented on #292
Level 10 Re-entrancy also need 1eth to deplay

[2021-11-26 14:11] spiside commented on #292
@wwbustb I agree that the cost is too high at the moment. However, if you would like to get test ETH from a reliable faucet, I would recommend https://faucets.chain.link/rinkeby.

[2021-12-07 21:50] Oighty opened #295 "Level 10: Re-entrancy - Compile Error for Solidity 0.6.0 through 0.6.1"
Hello,

Ethernaut contracts are targeted at Solidity ^0.6.0, but Level 10 Re-entrancy does not compile when using 0.6.0 through 0.6.1 because of the `.call{value: amount}()` syntax in line 21.

The syntax for message calls with value was changed in Solidity 0.6.2 from` .call.value()() `to the provided `.call{value: }()`.
Links:
* 0.6.1: https://docs.soliditylang.org/en/v0.6.1/security-consideratio

[2021-12-09 20:20] DragonDev1906 commented on #286
You (should) only need one `call()`. The following works for me: `await ethernaut.contract.methods.owner().call()`.

I haven't looked far into the code, but I think this may be a result of EIP-1559 (London). I think `ethernaut`is a wrapper object that fails due to these changes, while `ethernaut.contract`is the truffle contract that this wrapper object uses, given that this is how you call methods

[2021-12-25 04:16] ezeamaka2 opened #301 "Calling the submit instance"
Trying to wrap my head around the game. Am able to interact with the smart contract from the console. But, I have been unable to move to the next game because I don't understand how to call the submit instance function

[2021-12-29 14:59] xaler5 commented on #268
Closing as we already implemented this

[2021-12-29 14:59] #268 closed

[2021-12-29 15:01] xaler5 commented on #93
Multilanguage support is now in master branch

[2021-12-29 15:01] #93 closed

[2021-12-29 15:01] xaler5 commented on #12
Fixed in master

[2021-12-29 15:01] #12 closed

[2021-12-29 16:19] xaler5 commented on #156
Closed by https://github.com/OpenZeppelin/ethernaut/pull/305

[2021-12-29 16:19] #156 closed

[2021-12-29 16:40] xaler5 commented on #292
Closed by https://github.com/OpenZeppelin/ethernaut/pull/303

[2021-12-29 16:40] #292 closed

[2021-12-29 16:41] xaler5 commented on #207
Closed by https://github.com/OpenZeppelin/ethernaut/pull/303

[2021-12-29 16:41] #207 closed

[2021-12-29 16:49] xaler5 commented on #301
Hello @ezeamaka2 , don't you find an orange button below saying `submit instance` ?

![image](https://user-images.githubusercontent.com/20795374/147685246-9b2bd08f-7395-4a2b-afb1-37ece20a5965.png)

[2021-12-29 20:23] ezeamaka2 commented on #301
I do, do I have to click on it or I have to call it from the console?

I have been trying to call the function from the console and its not working

[2021-12-29 21:27] wchargin commented on #207
Thank you, @xaler5! :D

[2021-12-30 07:46] merlincdj opened #306 "Level 24 PuzzleWallet contract creation error"
https://rinkeby.etherscan.io/tx/0x00fb62b0c37d8fed2c268ba60ce26d75fbe2ec39b5b7257341fcef425f84f594

[2021-12-30 12:00] xaler5 commented on #306
Thanks @merlincdj it should be fixed now with this
https://github.com/OpenZeppelin/ethernaut/commit/d897766309dc00e7a4d33361e17fa705a9093874

I'm closing this. Fell free to reopen if it still persists

[2021-12-30 12:00] #306 closed

[2021-12-30 12:01] xaler5 commented on #301
Yes you should click the button. I'm closing this but fell free to reopen if it still doesn't work

[2021-12-30 12:01] #301 closed

[2021-12-30 15:42] merlincdj commented on #306
Still error now, the only difference is without sending 1ether when creating the contract.
https://rinkeby.etherscan.io/tx/0x8aa0b5b00a2be11677e807d119a57311d23896aacd6d0ff6cf9f012e4940d2cd

[2021-12-30 15:48] merlincdj opened #308 "Level 24 contract creation error"
Pre issue here #306 , but still error in contract creation. Btw, I can't re-open the old issue because closed by repo collaborator.
Error creation tx after #306 here:https://rinkeby.etherscan.io/tx/0x8aa0b5b00a2be11677e807d119a57311d23896aacd6d0ff6cf9f012e4940d2cd

[2021-12-30 19:47] xaler5 commented on #308
Great @merlincdj  sorry about it. Just sent an hotfix. Wait few minutes and let me know if it works now. I'll leave this open

[2021-12-31 02:09] merlincdj commented on #308
Thanks @xaler5 It can work now.

[2021-12-31 02:09] #308 closed

[2021-12-31 14:20] merlincdj opened #309 "Level 24 PuzzleWallet Suggestion"
There is no proxy abi in `contract.abi`, it will be convenience if add it. Btw, I have passed this level, this issue just a little feedback.
![image](https://user-images.githubusercontent.com/39942523/147827816-6f3e2123-c967-401d-bcbc-bd947b63682a.png)

[2022-01-08 09:24] mainbtpty commented on #188
I ran into the following message too while submitting a  Button Form.(MetaMask: The event 'close' is deprecated and may be removed in the future. Please use 'disconnect' instead.).
Is the message a warning or an error ?

[2022-01-11 03:52] #309 closed

[2022-01-13 20:17] frangio commented on #188
It's a warning.

[2022-02-03 09:21] jhaymesdev commented on #188
It is no more a warning. ethereum.enable() is completely depreciated.

[2022-02-03 18:46] frangio commented on #188
The app works for me. If you see an error please share the error. If you have other information please share a link.

[2022-02-15 08:27] odyssey2077 opened #322 "Level 24 Puzzle Wallet source code is broken"
Due to this PR https://github.com/OpenZeppelin/openzeppelin-contracts/pull/2547/files,  dependency @openzeppelin/contracts/proxy/UpgradeableProxy.sol no longer exists. Can we update the source code to use correct dependency?

[2022-02-15 08:38] #322 closed

[2022-02-24 11:27] wesbz opened #324 "Level 10 Re-entrancy attack not working"
I have been working on the Level 10 Re-entrancy level and cannot have the attack to work. I deployed the exact same Reentrance contract in Remix and managed to execute the attack without issue. Am I the only one encountering this? Has it been seen before? I tried several posted solutions but similarly couldn't have the attack to work and withdraw the contract balance while all of them worked when

[2022-02-27 15:14] Dig2 opened #326 "Unexpected solution of Dex and DexTwo"
The `approve` functions in the contracts of [Dex](https://github.com/OpenZeppelin/ethernaut/blob/51e1e184f9e8be1c5998dfa5555ee3b437a41d99/contracts/contracts/levels/Dex.sol#L34) and [DexTwo](https://github.com/OpenZeppelin/ethernaut/blob/51e1e184f9e8be1c5998dfa5555ee3b437a41d99/contracts/contracts/levels/DexTwo.sol#L33) are vulnerable and can lead to unexpected solution:

[code]

Attack can direct

[2022-03-04 23:19] evonide opened #329 "Level 25 Motorbike instance validation is faulty"
Steps to reproduce:
1) Create a new Motorbike instance at https://ethernaut.openzeppelin.com/level/0x78e23A3881e385465F19c1a03E2F9fFEBdAD6045
2) Wait until [someone else has also created an instance](https://rinkeby.etherscan.io/address/0x78e23a3881e385465f19c1a03e2f9ffebdad6045#internaltx). This happens every few hours.
3) Solve the level correctly and submit the instance.

Expected behavior:
- L

[2022-03-07 14:20] kylebakerio opened #330 "Level 13 of ethernauts is not verified on etherscan, making it harder than intended"
the official solution, [here](https://medium.com/coinmonks/ethernaut-lvl-13-gatekeeper-1-walkthrough-how-to-calculate-smart-contract-gas-consumption-and-eb4b042d3009) shows an older version that is verified. seems it wasn't verified after update.

[2022-03-07 14:30] kylebakerio opened #331 "Level 13 of ethernauts is not verified on etherscan, making it harder than intended"
[official solution](https://medium.com/coinmonks/ethernaut-lvl-13-gatekeeper-1-walkthrough-how-to-calculate-smart-contract-gas-consumption-and-eb4b042d3009) shows a verified contract, which can be emulated on remix in a straightforward fashion, which is relatively necessary to predict gas costs during operation.

I was not quite able to verify, but almost. Getting OZ's safemath 0.6.0, and pasting

[2022-03-09 12:18] kylebakerio commented on #331
My path to solving it literally involved me sitting down and converting the on-chain bytecode to opcodes and manually calculating gas usage of each executed bytecode up through the `GAS` call and tracing the path of call manually, guided by watching remix debug follow the opcodes of the similar (but not identical) bytecode from my local-compiled-near-clone of the guessed solidity. This worked fair

[2022-03-22 08:16] xaler5 commented on #329
Thanks @evonide we have already a fix on the way !

I'll post here the commit once merged

[2022-03-23 09:04] xaler5 commented on #331
Hello @kylebakerio have you considered using this repo ? You can clone it and compile contracts in local with same settings as they are deployed in Rinkeby. In this way you might have anything you need.

In any case you are right that contract was verified in the past and now it is not anymore. We will consider either adjusting difficulty or adding a verification.

[2022-03-24 16:26] kylebakerio commented on #331
did you forget to add a link? Not sure what repo you're referring to.

sounds good! I kind of like it the way it is unverified, but does raise the bar.

[2022-04-06 07:02] xaler5 commented on #329
@evonide Fix has been pushed to master https://github.com/OpenZeppelin/ethernaut/commit/d641313e4b284fa5272bf644c8b3c9a3326c4695

You can see how the new `MotorbikeFactory` works
https://github.com/OpenZeppelin/ethernaut/blob/master/contracts/contracts/levels/MotorbikeFactory.sol

Let me know if you still have the issue. I'm closing this for the moment. Fell free to re open it

[2022-04-06 07:02] #329 closed

[2022-04-07 20:33] dvinubius commented on #326
Just solved Dex2 with this same approach :)

[2022-04-16 17:41] rootulp opened #340 "Deploy Ethernaut to Goerli or Sepolia"
### Description
It seems like Rinkeby will be deprecated. Are there plans to deploy Ethernaut to Goerli or Sepolia?

### Motivation

[Source](https://weekinethereum.substack.com/p/week-in-ethereum-news-april-16-2022?token=eyJ1c2VyX2lkIjo5MjIwNTQxLCJwb3N0X2lkIjo1MjMwNTExMywiXyI6IjZSY1pRIiwiaWF0IjoxNjUwMTMwODYxLCJleHAiOjE2NTAxMzQ0NjEsImlzcyI6InB1Yi0xMDcxIiwic3ViIjoicG9zdC1yZWFjdGlvbiJ9.sbvFqgdWVd6ya

[2022-04-25 23:13] maAPPsDEV opened #342 "Improve hints for level 26"
I suggest giving more hints for level 26 - DoubleEntryPoint

It was really impossible to figure out the issue until I saw the level factory.
Once you know that, the solution would turn to school work.
It is because the goal of the level is confused much:
- do I need to drain LGT as well as DET?
- do I need to transfer tokens to someone else that is not a `sweptTokensRecipient`?
These questions wer

[2022-05-04 08:20] itslittlefrankie opened #343 "README.md example file name is wrong (DummyFactory.sol) - File does not exist"
When trying to reproduce the example level development from the Readme, I realized the mentioned DummyFactory.sol file does not exist. The correct file name is DummyLevel.sol.

[2022-05-06 11:54] jonatascm opened #344 "Level 22 - Dex - Issue with approve function"
Hey!
I found an issue in the Dex contract while trying to complete the level.
The problem is with the function approve:

[code]
https://github.com/OpenZeppelin/ethernaut/blob/d641313e4b284fa5272bf644c8b3c9a3326c4695/contracts/contracts/levels/Dex.sol#L34

The function means to approve the tokens for user but it can't be done in this way,
currently the contract is trying to approve their own tokens

[2022-05-07 15:32] DarqueWarrior commented on #286
I appreciate you posting this because I ran into the same issue today.

[2022-05-13 18:00] #344 closed

[2022-05-29 09:44] gwisp2 opened #357 "Level 21: Shop - replace view with pure in Buyer interface"
A call of pure functions generates the same bytecode as a call of view functions, pureness is not actually enforced in runtime.
A person who solves Ethernaut should learn about this, so I consider replacing `view` with `pure` in Buyer interface.

[2022-06-16 07:12] shlok2740 opened #364 "Error in progress"
There is an error in the progress system of Ethernaut. I have done 6 levels but the progress isn't showing.

![lv6](https://user-images.githubusercontent.com/77238805/174013208-49429e85-d2b9-4cb0-b250-9df7d56a37c7.PNG)
![lv7](https://user-images.githubusercontent.com/77238805/174013219-88991e61-9f69-47ea-9b82-7b513e47d778.PNG)

[2022-06-22 15:36] remedcu opened #365 "Level 22 Dex - Sentry 429 (Too Many Requests) in MetaMask"
I have created an issue in MetaMask, which you can see here: https://github.com/MetaMask/metamask-extension/issues/15000

This happens in `approve` transactions, and I use the command: `await contract.approve(instance, 10000)`

I even imported the contract to remix, deployed it to the instance address, and tried the GUI for approval, but still the same result.

Out of curiosity, I tried another le

[2022-06-24 14:59] mattjaf commented on #365
There's other ways to interact with a contract. I noticed this as well and was still able to solve it.

I created a pull request on this issue adding a hint, I didn't want to be so obvious about it, I could of hinted at what does "at address do???" I might do that

**SPOILER ALERT**
Head over to Remix.
Create a new contract called `any token` with the contents of:
`import "https://github.com/OpenZ

[2022-06-30 20:07] kumancev commented on #222
[https://ibb.co/HpsNNw9](url)
Hi. The problem is that you have a filter in the console - clean it

[2022-08-20 05:35] xAp0llo opened #383 "Cannot run Ethernaut on local network"
Hello! I am trying to use ethernaut to get some ctf practice on local since it is much easier to manage there but I am having trouble going through the steps to successfully deploy it on a local network.

This is what my terminal returns after following step 6 of the https://github.com/OpenZeppelin/ethernaut guide:
[code]
Any help fixing this error would be much appreciated.

[2022-08-23 15:59] tomwhipple opened #384 "Update solidity version?"
https://github.com/OpenZeppelin/ethernaut/blob/a7e5b7dbfc264bde771c601ffa8bcb1d299cd1ee/contracts/contracts/levels/CoinFlip.sol#L2

It seems that `SafeMath.sol` is looking for Solidity >= 0.8.0... I wonder if this is part of the issue I'm having with Remix, but I'm still very new at this otherwise I'd submit a PR.

[2022-08-24 17:56] RajivIshrani commented on #384
Solidity 0.8, the overflow/underflow check is implemented on the language level - it adds the validation to the bytecode during compilation.

You don't need the SafeMath library for Solidity 0.8+. You're still free to use it in this version, it will just perform the same validation twice (one on the language level and one in the library).

[2022-08-26 08:40] kalikho commented on #383
Explicity mention type json
Eg. import X from 'https://Y/data.json' assert { type: 'json' };

[2022-08-27 03:03] puffdood commented on #383
@kalikho Once I did that, I can compile but then encounter a problem when running in browser (after running `yarn start:ethernaut`).

Browser error:
[code]

Do you know how to resolve this?

[2022-09-01 15:48] Azephiar opened #389 "[Level 24 - Puzzle Wallet] - Not clear and source code not available"
Hi, I was trying to solve level 24 and found 2 issues.

1) The dependency "@openzeppelin/contracts/proxy/UpgradeableProxy.sol" is no longer available or either it's not clear where to find the code. This means I had to solve the puzzle based on assumptions on how that dependency managed storage.

2) The stated rules are to "become admin of the proxy contract" but I think the actual requirements in

[2022-09-06 13:07] xaler5 commented on #383
Have you tried using the correct node version in the nvmrc file ?

[2022-09-07 16:09] OmiAkk opened #397 "Completed levels cleared"
Hi! I cleared my browser cookie files and all my completed levels disappeared... Is there a way to fix this? Thanks for the awesome game!

Edit: spelling

[2022-09-11 11:40] htadashi opened #398 "Bug: language dropdown menu does not render properly when user scrolls down"
As can be seen in the image, the dropdown is not rendered correctly:
![image](https://user-images.githubusercontent.com/2355491/189525468-442e884e-8a23-445c-80a1-5d5147cd60f6.png)

[2022-09-19 08:05] xaler5 commented on #331
I meant this repo where are we discussing. The ethernaut one
https://github.com/OpenZeppelin/ethernaut

[2022-09-22 21:06] elizabethdinella commented on #340
Is there any update on this?

[2022-09-26 09:53] mtomassoli opened #401 "Preservation: `library` doesn't prevent access to state"
Great level! I just want to point out that `library` is not completely foolproof as the final explanation seems to suggest:
[code]

[2022-09-26 15:33] mtomassoli commented on #331
Here's how I solved it.
First I deployed a modified version of GatekeeperOne.sol:

[code]
I found a best guess using that modified version and then attacked the original version by brute forcing around that guess (0, -1, +1, -2, +2, ...): 50 attempts were enough. I wrote a JS script, of course.

[2022-09-26 18:25] kylebakerio commented on #331
I compiled my own version, which resulted in very similar but not identical bytecode. I then tracked the gas usage for each command along the stack and measured it myself.

Fun, but felt a little crazy.

Brute forcing is the more typical answer.

[2022-09-27 04:58] robercano commented on #340
Bumping this up. Currently Infura and Alchemy have already deprecated their API for Rinkeby.

[2022-09-30 13:18] siddhpurakaran opened #402 "Rinkeby will be deprecated in few days"
Rinkeby will be deprecated in few days so most of faucets already stopped working.....and now i don't have Rinkeby Ether and So i am not able to play game.

Please move to other stable testnet so people can play and learn smart contract security principles

:smiley: :)

[2022-10-05 19:31] mtomassoli commented on #389
1. I'm using @openzeppelin/contracts@3.4.2 without any problems.
2. The requirement is just to become the admin. All the other things one needs to do to become the admin shouldn't be stated as additional requirements as they're for the player to figure out.

[2022-10-05 20:40] scvsh commented on #340
Infura RPC stopped Rinkeby support — no way to interact with the app anymore.
`Network decommissioned, please use Goerli or Sepolia instead"`

[2022-10-05 20:55] damoklov commented on #340
Confirming that Ethernaut cannot connect to Metamask via Rinkeby due to 'outdated RPC'.
![image](https://user-images.githubusercontent.com/37833994/194161717-ae099bfd-b316-4f7d-91e0-159cdd8229e7.png)

[2022-10-05 22:09] johnsonstephan opened #404 "Unable to "Get new instance" following Rinkby deprecation"
**Issue Description**

Error message received following clicking on "Get new instance"

**How to reproduce**

1. Select Rinkby test network in wallet
2. Navigate to a level
3. Click on "Get new instance"

**Screenshot**

![image](https://user-images.githubusercontent.com/16626913/194172482-7bedf9c4-f7ee-4bd6-98b3-dc34e76fec84.png)

**Note(s)**

- _Last working:_ I was able to create a new instance

[2022-10-06 01:46] jonathanreedmevs commented on #383
I had this same issue but using node@14 solved it. No need to search source code

[2022-10-06 05:06] sseefried commented on #340
Given that the website for Ethernaut just received a facelift -- it looks great by the way! -- it seems like OZ really wants people to play Ethernaut. Hence addressing this issue is going to be pretty important.

[2022-10-06 07:12] Matlemad commented on #404
Just adding my written support for this issue: Ethernaut is such a finely designed educational tool, it would be a real pity to see its community abandoning it and taking on other courses just because it stays unavailable for a long period of time.

[2022-10-06 09:58] davidkathoh commented on #383
I am also having the same issue, @xAp0llo have you been able to fix it?

[2022-10-06 20:01] xaler5 commented on #404
The issue should be solved. We just made it available in different testnets:
Sepolia, Goerli and Mumbai. Ropsten and Rinkeby are still there but they will get removed soon. Try it out!

[2022-10-06 20:21] johnsonstephan commented on #404
We are back in business! @xaler5, thank you sir for the quick fix!

![image](https://user-images.githubusercontent.com/16626913/194410841-3c0a3e84-b63c-4a41-8d9d-7dcc7817771f.png)

[2022-10-06 20:21] #404 closed

[2022-10-07 07:43] #402 closed

[2022-10-07 07:44] xaler5 commented on #383
@davidkathoh and @xAp0llo I would suggest using nvm and run nvm use in the roof directory before running it locally. Let me know if that works!

[2022-10-07 07:45] xaler5 commented on #340
Hello everyone. The issue is now solved please refer to this

https://github.com/OpenZeppelin/ethernaut/issues/402#issuecomment-1271230606

[2022-10-07 07:45] #340 closed

[2022-10-07 11:47] eliashezron commented on #402
hey, Still getting a 404 error on connecting to ethernaut despite switching to goerli and sepolia.
I have cleared the cache but still failing to connect.

[2022-10-07 15:26] Matlemad commented on #404
Goerli is not working (and Sepolia Faucets are empty), same message appears:

f4a50c016452ba93cd8137d29eb24fae516b0d42.js:1 \˚ㄥ˚\ Ethernaut contract not found in the current network. Please make sure (1) that you are using metamask, (2) that it's on a supported network, (3) that it is unlocked, (4 optional) From November 2 you can turn ON privacy mode (OFF by default) in Metamask settings if you d

[2022-10-07 15:34] Matlemad opened #406 "Ethernaut <> Goerli not working"
After Rinkeby deprecation apparently Ethernaut is working only on Sepolia testnet.
But most Sepolia faucets are emptied out.

When selecting `goerli` from the network icon on Ethernaut, a loader starts but never finalizes

<img width="1407" alt="Schermata 2022-10-07 alle 17 31 31" src="https://user-images.githubusercontent.com/35381854/194592181-0bf49084-a910-4e84-8791-45c688898774.png">

please m

[2022-10-07 15:54] xaler5 commented on #404
@Matlemad have you cleared your cache and made sure your correctly connected with metamask? I'm running fine in Goerli

[2022-10-07 15:56] xaler5 commented on #402
Can you share the url that gives you 404? Also a screen showing metamask connected to the network would be useful

[2022-10-08 11:09] eliashezron commented on #402
I can successfully connect my wallet, however on trying to access a level, I get the 404 error.
![ozerr](https://user-images.githubusercontent.com/60871378/194704461-fccd0c5e-13b4-427d-876d-a38b13b023ba.jpg)
https://ethernaut.openzeppelin.com/404

[2022-10-10 09:23] xaler5 commented on #402
@eliashezron this is still weird. I see you have multiple wallets (Coinbase and Metamask). I just tested it again and I'm able to play nicely on Goerli.

Can you try a new private window with just metamask enabled ? Would it be nice to see also Metamask opened and connected to the wallet in the screenshot.

[2022-10-10 10:35] eliashezron commented on #402
@xaler5 it works perfectly after I disabled the coinbase wallet extension and was left with only metamask.

however, I don't see the levels I completed as checked since am using the same address as before.

Nonetheless, thank you.
![oze](https://user-images.githubusercontent.com/60871378/194847392-0657982e-2235-4acf-b2cc-525f9f2033be.jpg)

however, considering that it was working just fine with mu

[2022-10-10 17:32] PedroReyes opened #407 "❌ Ethernaut contract not found in the current network"
Hello,

*️⃣ Context
I am doing for the Spanish community a series of Ethernaut games explanation but right now the website is not creating properly the instances of the contract levels.

🔴 https://www.youtube.com/c/PedroReyesDev

*️⃣ Error

The error provided by the website is: `Ethernaut contract not found in the current network`. See image attached.

![image](https://user-images.githubuserconten

[2022-10-10 18:15] PedroReyes commented on #407
Hello,

In the Goerli testnet the contract of NaughtCoin seems to be deployed correctly. Therefore, if there is no solution to the general issue in the other networks I recommend switching to Goerli testnet.

Best regards,
Pedro Reyes.

[2022-10-11 07:51] #398 closed

[2022-10-11 09:05] xaler5 commented on #407
@PedroReyes that is a level deployed on Rinkeby. Following The Merge, Rinkeby and Ropsten are deprecated and Goerli or Sepolia are the official testnets now, please be sure to use one of those or Mumbai as alternative, we are slowly deprecating Rinkeby and Ropsten and those will be soon removed from the game.

I'm closing this issue but fell free to reopen it if something goes wrong.

[2022-10-11 09:05] #407 closed

[2022-10-11 09:06] xaler5 commented on #383
I'm closing this issue but fell free to reopen if after my suggestions the error persists

[2022-10-11 09:06] #383 closed

[2022-10-19 22:03] davidkathoh opened #413 "404 Not Found error when selecting a level"
Ethernaut is currently returning  a 404 page when a level is clicked

[2022-10-20 10:30] immaxkent commented on #364
hi @shlok2740 can you tell me if you have rejected cookies/are browsing in an incognito/private browser setting?

[2022-10-24 09:23] xaler5 commented on #413
Hello @davidkathoh  ! Can you give some more context ?

Which browser are you using ? Is metamask correctly connected ? If yes, to which chain ? Can you provide a screen ?

I currently can't reproduce the issue.

As first thing, did you try deleting cache ?

[2022-10-24 16:29] davidkathoh commented on #413
I have tried to reinstall Metamask, it's now working

[2022-10-24 16:29] #413 closed

[2022-10-28 07:26] r0mille commented on #286
I ran into this today.

[2022-10-29 12:48] RohitKS7 opened #423 "Not getting any new instances"
Hlo, Friends!
I don't know if it's a blockchain problem or game's problem but
After clicking "Get New Instance", It will sent a transaction but even after 10 mins its in pending state. So, I can't able to play Ethernaut!

[2022-10-31 03:12] JithinKS97 commented on #286
Hey @kylebakerio, does giving gasPrice explicitly helping? Like `await ethernaut.owner({ gasPrice:0 })`?

[2022-10-31 06:54] JithinKS97 commented on #286
@r0mille Can you specify the network and the level in which you are facing this issue?

[2022-10-31 06:58] JithinKS97 commented on #286
I think specifying gas fee like this is helping `await ethernaut.owner({ gasPrice:0 })`

[2022-11-01 07:20] shlok2740 commented on #364
No, I don't think that I have used incognito mode

[2022-11-02 10:20] xaler5 commented on #286
This issue is acknowledged and already solved in this PR
https://github.com/OpenZeppelin/ethernaut/pull/422
, once merged it should work normally

[2022-11-11 13:16] J-mastenbroek commented on #286
When is the merge happening? Running into the same issue

[2022-11-14 09:07] Atharv181 opened #433 "Not able to proceed with game"
![image](https://user-images.githubusercontent.com/73999654/201619518-31710fc8-5a55-42a3-8f4c-65ebf79804f4.png)
Got this in the Hello Ethernaut challenge.

[2022-11-15 09:17] xaler5 commented on #433
Hey @Atharv181 have you tried `await contract.info()` ?

![image](https://user-images.githubusercontent.com/20795374/201879874-14de58e6-87c6-48ef-a869-e7448b414983.png)

`infoo` and `info0` are not functions of the contract

[2022-11-15 09:18] xaler5 commented on #423
Hey @RohitKS7 have you tried checking the gas used ? probably the transaction is getting stuck in the mempool. You can even try chaing the network to another one or using more gas to speedup the transaction

[2022-11-15 14:16] Atharv181 commented on #433
Yes that was the first command.

[2022-11-15 14:29] Atharv181 opened #435 "Update Readme file"
As ropsten network deprecated we need to update in deploying section and add goerli instead.

[2022-11-15 15:07] orangelash opened #436 "discussion testing"
Test message

@xaler5 please reply with a test message to move this to a discussion and see what information is lost

[2022-11-15 15:08] xaler5 commented on #436
Thanks @orangelash for taking this initiative, Looking forward to see this automated :D

[2022-11-15 15:09] xaler5 commented on #433
@Atharv181 you didn't put `await` and I can't see `info` being called. only `infoo` and `info0` which are bot non existent.

[2022-11-15 16:25] Atharv181 commented on #433
![image](https://user-images.githubusercontent.com/73999654/201972257-b36e462e-468e-464b-a06c-f3c9fae27839.png)
![image](https://user-images.githubusercontent.com/73999654/201972708-2482f1b2-568d-4ee7-a6a5-49bfb89adbd3.png)

[2022-11-15 16:41] xaler5 commented on #433
@Atharv181

In order for the call to suceeds you always need to put an `await` before, otherwise you need to define a callback to catch the result at some point.

As you might see `await contract.info()` worked.

Regarding the first call `await contract.info1()` that failed. In which network are you trying these calls ?

[2022-11-15 17:28] Atharv181 commented on #433
Goerli network

[2022-11-17 07:24] xaler5 commented on #433
Can you do a last try just using the `await` variant ? not calling `contract.*` without `await`

[2022-11-17 08:58] xaler5 commented on #286
Fixed here
https://github.com/OpenZeppelin/ethernaut/pull/429

[2022-11-17 08:58] #286 closed

[2022-11-17 08:59] xaler5 commented on #295
Changed to Solidity 0.6.12 :)

[2022-11-17 08:59] #295 closed

[2022-11-17 09:00] xaler5 commented on #166
Deprecated

[2022-11-17 09:00] #166 closed

[2022-11-17 09:02] xaler5 commented on #165
Deprecated and fixed

[2022-11-17 09:02] #165 closed

[2022-11-17 09:02] xaler5 commented on #161
Deprecated

[2022-11-17 09:02] #161 closed

[2022-11-17 09:03] xaler5 commented on #160
Deprecated

[2022-11-17 09:03] #160 closed

[2022-11-17 09:04] xaler5 commented on #157
Is still this an issue ?

[2022-11-17 09:05] xaler5 commented on #155
Closing because fixed

[2022-11-17 09:05] #155 closed

[2022-11-17 09:05] xaler5 commented on #154
Closing because fixed

[2022-11-17 09:05] #154 closed

[2022-11-17 09:05] xaler5 commented on #153
Deprecated

[2022-11-17 09:05] #153 closed

[2022-11-17 09:07] xaler5 commented on #9
Deprecated

[2022-11-17 09:07] #9 closed

[2022-11-17 09:08] xaler5 commented on #11
Deprecated

[2022-11-17 09:08] #11 closed

[2022-11-17 17:34] Atharv181 commented on #433
Tried still not able to resolve

[2022-11-18 13:22] Atharv181 commented on #433
Are you able to do it on your PC?